table, th, td {
    border:1px solid black;
}

h2{
    text-align: center;
}


table{ 
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }